/* Taruh CSS Custom Disini */
.bg-body-secondary {
    background-color: greenyellow!important;
}
.nav-link {
    color: black!important;
}
.nav-header {
    color: black!important;
}
.sidebar-brand {
    background-color: pink!important;
}
.sidebar-brand .brand-text{
     font-family: "Merriweather", serif;
    color:black;
    font-size: 30px;
}
.nav-link:hover {
    background-color:  pink!important;
    color: var(--color-white);
    transform: translateX(4px);
}